.rowsection3{
 
   display: flex;
   justify-content: space-around;
   
}

.coln1{
    width: 60%;
    margin-top: 25px;
    margin-left: -30px;
    padding: 20px 0 15px 10px ;
}

.coln2{
    width: 20%;
    height: 180px;
    padding: 20px 0 15px 10px ;
    display: flex;
    margin-top: 25px;
}

.link-icon1{
background-color: #3e95ff !important;
color: white;
padding: 15px;
border-radius: 15px;
margin-right: 12px;
}



.link-icon2{
    background-color: #5f00d2 !important;
    color: white;
    padding: 15px;
    border-radius: 15px;
    margin-right: 12px;
    }


.income-expense> p{
    margin:10px 0 15px 10px;
    font-size: 14px;
    }

    
.income-expense > div{
    margin:10px; 
}

.coln2 .text{
    display: inline-block;
}



.head{
   font-size: 15px; 
   color: rgb(33, 33, 33);
   
}

.subtitle{
    font-size: 12px;
    color: rgb(161, 161, 161);
}